.modal-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: start;
    justify-content: center;
    opacity: 1;
    transition: 0.5s;
    z-index: 999;
}

.modal {
    display: grid;
    grid-template-rows: 0.2fr 1fr;

    position: relative;
    top: 30%;
    width: 20vw;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    background-color: var(--bg-table);
    transition: 0.4s all;
    pointer-events: all;


}

.modal h1 {
    text-align: center;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-form__buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.modal-form__buttons button {
    margin-top: 20px;
    width: 50%;
}